<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656145008429-5l1aokn4mu5eprbrnhf33ik7m7lnvfu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656145008429-5l1aokn4mu5eprbrnhf33ik7m7lnvfu0</string>
	<key>API_KEY</key>
	<string>AIzaSyCfHbpOIYMJrpwGrU0veh8grCsYo6ecA2k</string>
	<key>GCM_SENDER_ID</key>
	<string>656145008429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simon.Sync</string>
	<key>PROJECT_ID</key>
	<string>sync-4b4e2</string>
	<key>STORAGE_BUCKET</key>
	<string>sync-4b4e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656145008429:ios:885a7f34d90955a61335a4</string>
</dict>
</plist>